.container{
    width: 100%; 
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch{
    background: black;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: -8 -8 15px rgba(255, 255, 255, 0.1),5px 5px 5pc rgba(0, 0, 0, 0.2);
}

.stopwatch h1{font-size: 40px;
margin: 30px;
font-family: "poppins","sans-serif";
font-weight: 500;
color: black;
background: white;
border-radius: 10px;
padding: 10px;
background-size: cover;}

input{
    margin: 10px;
    font-size: 15px;
}

